# ===== ANDROID =====
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# ===== SPRING BOOT =====
/target
*.class
*.log
*.jar
*.war
*.ear

# ===== SISTEMA =====
# Arquivos de SO
Thumbs.db
ehthumbs.db
desktop.ini

# ===== ENV =====
*.env
.env.local
